
 body {
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x : hidden;
    background: black;
    font-size: 16px;
    text-align: center;
    background-image: url("./images/rpg-pattern-dark.png");
    background-size: 200px;
    background-repeat: repeat;
    background-position: center;
}

html::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("./images/rpg-pattern-dark.png");
    background-size: 400px;
    background-repeat: repeat;
    background-position: center;
    filter: blur(1px);
    z-index: -1;
}


    h1 {
        font-size: 2.5rem !important ;
        outline: 10px !important;
       
        position: relative !important;
        color: rgb(237, 249, 224) !important ;
        
        width: fit-content;
        min-height: 50px;
        
        margin: 20px auto !important ; /* Centers the block horizontally */
        padding: 10px;
        -webkit-text-stroke: 2px rgb(77, 32, 3);
    }




.card{
    padding: 1rem;
    display: flex;
    gap: 1rem;
   
    position: relative;
    margin: 0 auto;
    align-items: center;
    

    
}
.container-width{
    width:clamp(300px,100%,700px);
    height: auto;
    
}

.card .profile-img {
    width: clamp(80px, 50%, 200px);
    height: clamp(80px, 50%, 200px);
    filter: sepia(5%) contrast(100%) brightness(90%)    ;
    border: 5px outset rgb(247, 177, 103);
}
.card .card-icon{
    width: 50px;
    height: auto;
}

.skills,.projects{
    position: relative;
     margin: 2rem auto; 
    /* width: clamp(200px,60%,600px); */
    box-sizing: border-box;
}
.projects{
    margin-bottom: 5rem;
}

.rpgui-content {
    overflow: visible !important;
    position:relative;
    min-height: auto;
    
}

.projects-container {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.project-card {
     background: rgba(0, 0, 0, 0.8); 
    border: 2px solid gold;
    padding: 1rem;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}

.project-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 2px solid gold;
}

.project-details h4 {
    margin: 10px 0;
    color: gold;
}

.project-details p {
    font-size: 14px;
    color: white;
}

.project-links {
    margin-top: 10px;
}

.btn {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
     background: gold; 
    color: black; 
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover {
    background: orange;
}
